data/*
csv/*
cluster_img/*
cluster_result/*
team_stats/*
nba/nba_py/scoreboards/*
nba/nba_py/teams/*
nba/nba_py/players/*
nba/nba_py/games/*
nba/nba_py/logs/*
nba/nba_py/csv/*
nba/nba_py/datasets/*
squawka-scraper/data/*
squawka-scraper/out/*
squawka-scraper/tmp/*
team_stats.json
teams_overall.json
history_paths.json
parse_teams_stats_error.json
*.pyc
.WolframEngine/
.sync/
.vscode/
